@font-face {
    font-family: 'Sora';
    src: url("Sora-VariableFont_wght.ttf") format('truetype'); 
}

body{
    background-color: #FAFAF9;
}
p{
    font-family: "Sora",Arial;
}
#img_card{
    width: 336px;
    height: 152px;
    border-radius: 10px;
    margin: auto;
    display: flex;
}


#card{
    margin: 0 auto;
    margin-top: 164px;
    box-shadow: 0px 30px 200px 0px rgba(17, 23, 41, 0.1);
    border-radius: 20px;
    width: 368px;
    height: 400px;
    padding: 16px;
}

#button_card {
    font-size: 11px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    border: 1px solid #D6C3FA; 
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 8px;
    padding: 3px 16px;

}

#Tittle_card, #Body_card,#SmallText_card{
    margin-left: 16px;

}
#Tittle_card{
    font-size: 18px;
    margin-bottom: 6px;
}

#Body_card{
    font-size: 14px;
    color: #6C727F;
    margin-bottom: 20px;
}

#SmallText_card{
    font-size: 10px;
    color: #6C727F;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr{
    border-color: #FAFAF9;
    color: #FAFAF9;
}